<configuration>
    <system.webServer>
        <handlers><add name="iisnode" path="*.js" verb="*" modules="iisnode"/></handlers>
    </system.webServer>
    <rewrite>
        <rules>
            <rule name="myapp">
                <match url="/*"/>
                <action type="Rewrite" url="server.js"/>
            </rule>
        </rules>
    </rewrite>
</configuration>
